{
  "presets": ["next/babel"],
  "plugins": [
    "styled-components",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "removeAttrs": {
                "attrs": "(data-name)"
              }
            },
            {
              "cleanUpIDs": true
            }
          ]
        }
      }
    ]
  ]
}
