# dependencies
/node_modules

# environment
.env
.env.local
.env.development
.env.test.local
.env.production.test

# testing
/cypress/videos

# production
.next

# miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
