{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],

  "rules": {
    'at-rule-no-unknown': null,
    'font-family-name-quotes': 'always-where-recommended',
    'function-url-quotes': 'always',
    'at-rule-no-vendor-prefix': true,
    'media-feature-name-no-vendor-prefix': true,
    'property-no-vendor-prefix': true,
    'selector-no-vendor-prefix': true,
    'value-no-vendor-prefix': true,
    'max-nesting-depth': 3,
    'selector-max-compound-selectors': 4,
    'selector-max-specificity': '0,4,1',
    'color-named': 'never',
    'color-no-hex': true,
    'declaration-no-important': true,
    'selector-max-id': 0,
    'selector-no-qualifying-type': true,
    'selector-max-universal': 0,
    'font-weight-notation': 'numeric',
    'function-url-no-scheme-relative': true,
  }
}
